body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bDGender {
  font-style: italic;
  color: #696969;
}

.firstLastName a {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.firstLastName a:hover {
  color: #adadad;
  text-decoration: none;
}

.card_user {
  padding-bottom: 10px;
  padding-top: 2px;
}

.user_header {
  text-align: center;
}
.datepicker{
  padding-left: 12px;
}